.db-nav {
    align-items: center;
    background-color: var(--color-grey-dark-2);
    color: var(--font-color-secondary);
    display: flex;
    height: 5.6rem;
    justify-content: space-between;
    padding: 0 1.6rem;
    position: relative;
    z-index: 2;
    &__brand {
        color: var(--color-grey-light-2);
        font-family: $font-secondary;
        font-size: 1.6rem;
        letter-spacing: 0.1em;
        text-transform: uppercase;
    }
    &__search {
        display: flex;
        height: 3rem;
        width: 40%;
        &--input {
            background-color: var(--color-grey-dark-1);
            border: 1px solid var(--color-grey-dark-3);
            color: var(--color-grey-light-2);
            padding: 0 1rem;
            transition: border .3s;
            width: 100%;
            &:focus {
                border: 1px solid var(--color-primary);
                outline: none;
            }
            &::placeholder {
                color: var(--color-grey-dark-3);
            }
            &:focus::-webkit-input-placeholder {
                color: transparent;
            }
        }
        &--button {
            background-color: var(--color-grey-dark-3);
            display: flex;
            justify-content: center;
            transition: background-color .2s;
            width: 6rem;
            &-svg {
                fill: var(--color-grey-light-3);
                height: 1.7rem;
                width: 1.7rem;
                transition: fill .3s;
            }
            &:focus {
                outline: none;
            }
            &:hover {
                background-color: var(--color-primary);
                cursor: pointer;
                &-svg {
                    fill: var(--color-grey-light-1);
                }
            }
        }
    }
    &-icon {
        align-items: center;
        display: flex;
        list-style: none;
        &__link {
            align-items: center;
            color: inherit;
            display: flex;
            padding-left: 4rem;
            &--svg {
                fill: var(--color-grey-light-1);
                height: 2.1rem;
                transition: fill .3s;
                width: 2.1rem;
            }
            &:hover {
                .db-nav-icon__link--svg {
                    fill: var(--color-primary)
                }
            }
        }
    }
}

@media screen and (max-width: $bp-small) {
    .db-nav {
        &__brand {
            display: none;
        }
        &__search {
            width: 100%;
        }
    }
}