.db-sidebar {
    background-color: var(--color-primary);
    width: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    &-nav {
        &__link {
            background-color: var(--color-primary-dark);
            height: 5rem;
            padding: 0 1.5rem;
            &--svg {
                fill: var(--color-grey-light-1);
            }
            &--text {
                color: var(--color-grey-light-1);
            }
            &--selected {
                background-color: var(--color-primary-light);
                &+.db-sidebar-subnav {
                    .db-sidebar-subnav__link {
                        height: 5rem;
                        &--svg,
                        &--text {
                            opacity: 1;
                        }
                        &--selected {
                            background-color: var(--color-grey-light-1);
                        }
                    }
                }
            }
            &:hover {
                background-color: var(--color-primary)
            }
        }
    }
    &-subnav {
        &__link {
            background-color: var(--color-grey-light-3);
            height: 0;
            padding: 0 1.5rem 0 3rem;
            &--svg,
            &--text,
                {
                opacity: 0;
                transition: opacity .2s;
            }
            &--svg {
                fill: var(--color-primary-dark);
            }
            &--text {
                color: var(--color-primary-dark);
            }
            &--selected {
                background-color: var(--color-grey-light-1) !important;
            }
            &:hover {
                background-color: var(--color-grey-light-2)
            }
        }
    }
    &-nav,
    &-subnav {
        display: flex;
        list-style: none;
        flex-direction: column;
        &__link {
            align-items: center;
            display: flex;
            transition: background-color .3s, height .3s;
            &--svg {
                height: 2.5rem;
                width: 2.5rem;
            }
            &--text {
                font-size: 1.4rem;
                padding-left: 1.5rem;
                white-space: nowrap;
            }
        }
    }
    @media screen and(max-width: $bp-medium) {
        height: 100%;
        left: 0;
        position: fixed;
        top: 5.6rem;
        z-index: 3;
    }
}

.submenu-show {
    position: relative;
    &::before {
        content: "\203A";
        color: var(--color-grey-light-1);
        font-size: 2rem;
        position: absolute;
        right: 1rem;
        top: .8rem;
        transform: rotate(0);
        transition: transform .3s;
    }
    &--open {
        &::before {
            content: "\203A";
            color: var(--color-grey-light-1);
            font-size: 2rem;
            position: absolute;
            right: 1rem;
            top: .8rem;
            transform: rotate(90deg)
        }
    }
}

@media screen and (max-width: $bp-small) {
    .db-sidebar {
        max-width: 5.5rem;
        transition: max-width .3s;
        &-nav,
        &-subnav {
            &__link {
                padding-left: 1.5rem;
                &--svg {
                    min-width: 2.5rem
                }
                &--text {
                    display: block;
                    font-size: 1.5rem;
                    padding-left: 1.8rem;
                }
            }
        }
    }
    .db-sidebar-open {
        max-width: 25rem;
    }
    .submenu-show {
        &::before {
            font-size: 1.5rem;
            right: .5rem;
            top: 1.3rem;
        }
        &--open {
            &::before {
                font-size: 1.5rem;
                right: .5rem;
                top: 1.3rem;
            }
        }
    }
}