.db-main {
    background-color: var(--color-grey-light-2);
    height: 100%;
    overflow: scroll;
    padding: 4rem 3rem;
    position: relative;
    width: 100%;
    @media screen and(max-width: $bp-medium) {
        margin-left: 5.5rem;
        padding: 2rem 1rem;
    }
}

.db-content {
    display: flex;
    height: calc(100vh - 5.6rem);
}