.breadcumb {
    display: flex;
    list-style: none;
    margin-bottom: 3rem;
    flex-wrap: wrap;
    &__item {
        color: var(--color-primary-dark);
        position: relative;
        a {
            color: unset;
            font-size: 1.1rem;
        }
        &:last-child {
            color: var(--color-grey-dark-3);
        }
        &:not(:last-child) {
            padding-right: 1rem;
            margin-right: .5rem;
            &::before {
                color: var(--color-grey-dark-3);
                content: "\203A";
                position: absolute;
                right: 0;
            }
        }
    }
    @media screen and(max-width: $bp-medium) {
        margin-bottom: 2rem;
    }
}