.form-post {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .14);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
    &__box {
        // box-shadow: .5rem .5rem .5rem rgba(230, 230, 230, 0.3);
        margin: 1rem;
        &--title {
            grid-column: 1 / -1;
        }
        &>*:focus {
            outline: none;
            &::placeholder {
                color: transparent
            }
        }
        &>*::placeholder {
            color: rgb(199, 199, 199);
        }
    }
    &__title {
        background-color: var(--color-primary);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        color: #fff;
        font-size: 1.3rem;
        padding: .5rem 1rem; // text-align: center;
    }
    &__input,
    &__select {
        align-items: center;
        -webkit-appearance: none;
        background-color: transparent;
        border-radius: 0;
        display: flex;
        font-family: $font-primary;
        font-size: 1.3rem;
        height: 4rem;
        padding: 0 1rem;
        width: 100%;
    }
    &__input {
        border-bottom: 1px solid var(--color-primary-dark);
        transition: border-bottom .3s;
        &:focus {
            border-bottom: 1px solid var(--color-primary-light);
        }
    }
    &__select {
        background-color: var(--color-grey-light-3);
        transition: background-color .3s, color .3s;
        &:hover {
            color: #fff;
            background-color: var(--color-primary-light);
        }
    }
    &__excerpt {
        border-bottom: 1px solid var(--color-primary-dark);
        border-radius: 0;
        grid-column: 1 / -1;
        &:focus {
            border-bottom: 1px solid var(--color-primary-light);
        }
    }
    &__textarea {
        font-family: $font-primary;
        font-size: 1.3rem;
        padding: 1rem;
        width: 100%;
    }
    &__editor {
        grid-column: 1 / -1;
    }
    &__buttons {
        display: flex;
        grid-column: 2 / span 1;
        height: 4rem;
        justify-content: center;
        margin-top: 2rem;
    }
    &__btn {
        background-color: var(--color-primary);
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        margin-right: 2rem;
        text-align: center;
        transition: background-color .3s;
        width: 10rem;
        &:focus {
            outline: none;
        }
        &:hover {
            background-color: var(--color-primary-dark);
        }
    }
    @media screen and(max-width: $bp-medium) {
        display: flex;
        flex-direction: column;
    }
}

#editor {
    background-color: white;
}