.list {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .14);
    font-size: 1.2rem;
    padding: 1.5rem;
    white-space: nowrap;
}

.list-options {
    display: flex;
    margin-bottom: 1rem;
    &__select {
        -webkit-appearance: menulist;
        background-color: var(--color-primary);
        border-radius: 10px;
        color: #fff;
        cursor: pointer;
        display: block;
        height: 4rem;
        transition: background-color .3s;
        &:focus {
            outline: none;
        }
        &:hover {
            background-color: var(--color-primary-dark);
        }
        &:not(:last-child) {
            margin-right: .6rem;
        }
    }
    @media screen and(max-width: $bp-medium) {
        &__select {
            border-radius: 5px;
            height: 3rem;
        }
    }
}

.list-header {
    display: flex;
    &__col-title {
        &-date,
        &-article {
            background-color: var(--color-primary-dark);
            color: #fff;
            cursor: pointer;
            padding: .5rem 1rem .5rem 2.5rem;
            position: relative;
            transition: background-color .3s;
            width: 100%;
            &:hover {
                background-color: var(--color-primary);
            }
            &::after,
            &::before {
                border-left: 3px solid transparent;
                border-right: 3px solid transparent;
                content: "";
                font-size: 2rem;
                position: absolute;
            }
            &::after {
                border-bottom: 6px solid #fff;
                height: 0;
                left: 1rem;
                top: .6rem;
                width: 0;
            }
            &::before {
                border-top: 6px solid #fff;
                height: 0;
                left: 1rem;
                top: 1.7rem;
                width: 0;
            }
            &--asc {
                &::after {
                    border-bottom: 6px solid var(--color-primary-light) !important;
                }
            }
            &--desc {
                &::before {
                    border-top: 6px solid var(--color-primary-light) !important;
                }
            }
        }
        &-date {
            max-width: 10rem;
            min-width: 10rem;
        }
    }
}

.list-articles {
    &__item {
        align-items: center;
        border-bottom: 1px solid var(--color-grey-light-3);
        display: flex;
    }
    &__date {
        min-width: 10rem;
        text-align: center;
    }
    &__text {
        margin-right: auto;
        overflow: hidden;
        padding-left: 1rem;
    }
    &__btn {
        background-color: var(--color-primary);
        border-radius: 3px;
        cursor: pointer;
        fill: #fff;
        height: 3rem;
        margin: .6rem 0 .6rem .6rem;
        padding: .6rem;
        transition: background-color .3s;
        max-width: 3rem;
        min-width: 3rem;
        &:hover {
            background-color: var(--color-primary-dark);
        }
    }
}