.messagepop {
    animation: showpop 5s;
    align-items: center;
    background-color: transparent;
    border-bottom: 2px solid transparent;
    color: transparent;
    display: flex;
    font-size: 1.2rem;
    height: 4rem;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

@keyframes showpop {
    0% {
        background-color: transparent;
        border-bottom: 2px solid transparent;
        color: transparent;
        height: 0rem;
    }
    30% {
        background-color: var(--color-grey-dark-3);
        border-bottom: 2px solid var(--color-primary);
        color: var(--color-grey-light-3);
        height: 4rem;
    }
    60% {
        background-color: var(--color-grey-dark-3);
        border-bottom: 2px solid var(--color-primary);
        color: var(--color-grey-light-3);
        height: 4rem;
    }
    100% {
        background-color: transparent;
        border-bottom: 2px solid transparent;
        color: transparent;
        height: 0rem;
    }
}