@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Oswald");
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f0f0f0;
  --color-grey-light-3: #e9e9e9;
  --color-grey-dark-1: #111;
  --color-grey-dark-2: #232323;
  --color-grey-dark-3: #444;
  --font-color-primary: #333;
  --font-color-secondary: #faf9f9;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--color-grey-light-2); }

* {
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  color: var(--color-grey-dark-1);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 1100px) {
    html {
      font-size: 50%; } }

body {
  font-size: 1.4rem;
  background-color: var(--color-grey-light-2);
  min-height: 100vh; }

.db-main {
  background-color: var(--color-grey-light-2);
  height: 100%;
  overflow: scroll;
  padding: 4rem 3rem;
  position: relative;
  width: 100%; }
  @media screen and (max-width: 56.25em) {
    .db-main {
      margin-left: 5.5rem;
      padding: 2rem 1rem; } }

.db-content {
  display: flex;
  height: calc(100vh - 5.6rem); }

.db-nav {
  align-items: center;
  background-color: var(--color-grey-dark-2);
  color: var(--font-color-secondary);
  display: flex;
  height: 5.6rem;
  justify-content: space-between;
  padding: 0 1.6rem;
  position: relative;
  z-index: 2; }
  .db-nav__brand {
    color: var(--color-grey-light-2);
    font-family: "Oswald", sans-serif;
    font-size: 1.6rem;
    letter-spacing: 0.1em;
    text-transform: uppercase; }
  .db-nav__search {
    display: flex;
    height: 3rem;
    width: 40%; }
    .db-nav__search--input {
      background-color: var(--color-grey-dark-1);
      border: 1px solid var(--color-grey-dark-3);
      color: var(--color-grey-light-2);
      padding: 0 1rem;
      transition: border .3s;
      width: 100%; }
      .db-nav__search--input:focus {
        border: 1px solid var(--color-primary);
        outline: none; }
      .db-nav__search--input::placeholder {
        color: var(--color-grey-dark-3); }
      .db-nav__search--input:focus::-webkit-input-placeholder {
        color: transparent; }
    .db-nav__search--button {
      background-color: var(--color-grey-dark-3);
      display: flex;
      justify-content: center;
      transition: background-color .2s;
      width: 6rem; }
      .db-nav__search--button-svg {
        fill: var(--color-grey-light-3);
        height: 1.7rem;
        width: 1.7rem;
        transition: fill .3s; }
      .db-nav__search--button:focus {
        outline: none; }
      .db-nav__search--button:hover {
        background-color: var(--color-primary);
        cursor: pointer; }
        .db-nav__search--button:hover-svg {
          fill: var(--color-grey-light-1); }
  .db-nav-icon {
    align-items: center;
    display: flex;
    list-style: none; }
    .db-nav-icon__link {
      align-items: center;
      color: inherit;
      display: flex;
      padding-left: 4rem; }
      .db-nav-icon__link--svg {
        fill: var(--color-grey-light-1);
        height: 2.1rem;
        transition: fill .3s;
        width: 2.1rem; }
      .db-nav-icon__link:hover .db-nav-icon__link--svg {
        fill: var(--color-primary); }

@media screen and (max-width: 37.5em) {
  .db-nav__brand {
    display: none; }
  .db-nav__search {
    width: 100%; } }

.db-sidebar {
  background-color: var(--color-primary);
  width: 300px;
  overflow-y: scroll;
  overflow-x: hidden; }
  .db-sidebar-nav__link {
    background-color: var(--color-primary-dark);
    height: 5rem;
    padding: 0 1.5rem; }
    .db-sidebar-nav__link--svg {
      fill: var(--color-grey-light-1); }
    .db-sidebar-nav__link--text {
      color: var(--color-grey-light-1); }
    .db-sidebar-nav__link--selected {
      background-color: var(--color-primary-light); }
      .db-sidebar-nav__link--selected + .db-sidebar-subnav .db-sidebar-subnav__link {
        height: 5rem; }
        .db-sidebar-nav__link--selected + .db-sidebar-subnav .db-sidebar-subnav__link--svg, .db-sidebar-nav__link--selected + .db-sidebar-subnav .db-sidebar-subnav__link--text {
          opacity: 1; }
        .db-sidebar-nav__link--selected + .db-sidebar-subnav .db-sidebar-subnav__link--selected {
          background-color: var(--color-grey-light-1); }
    .db-sidebar-nav__link:hover {
      background-color: var(--color-primary); }
  .db-sidebar-subnav__link {
    background-color: var(--color-grey-light-3);
    height: 0;
    padding: 0 1.5rem 0 3rem; }
    .db-sidebar-subnav__link--svg, .db-sidebar-subnav__link--text {
      opacity: 0;
      transition: opacity .2s; }
    .db-sidebar-subnav__link--svg {
      fill: var(--color-primary-dark); }
    .db-sidebar-subnav__link--text {
      color: var(--color-primary-dark); }
    .db-sidebar-subnav__link--selected {
      background-color: var(--color-grey-light-1) !important; }
    .db-sidebar-subnav__link:hover {
      background-color: var(--color-grey-light-2); }
  .db-sidebar-nav, .db-sidebar-subnav {
    display: flex;
    list-style: none;
    flex-direction: column; }
    .db-sidebar-nav__link, .db-sidebar-subnav__link {
      align-items: center;
      display: flex;
      transition: background-color .3s, height .3s; }
      .db-sidebar-nav__link--svg, .db-sidebar-subnav__link--svg {
        height: 2.5rem;
        width: 2.5rem; }
      .db-sidebar-nav__link--text, .db-sidebar-subnav__link--text {
        font-size: 1.4rem;
        padding-left: 1.5rem;
        white-space: nowrap; }
  @media screen and (max-width: 56.25em) {
    .db-sidebar {
      height: 100%;
      left: 0;
      position: fixed;
      top: 5.6rem;
      z-index: 3; } }

.submenu-show {
  position: relative; }
  .submenu-show::before {
    content: "\203A";
    color: var(--color-grey-light-1);
    font-size: 2rem;
    position: absolute;
    right: 1rem;
    top: .8rem;
    transform: rotate(0);
    transition: transform .3s; }
  .submenu-show--open::before {
    content: "\203A";
    color: var(--color-grey-light-1);
    font-size: 2rem;
    position: absolute;
    right: 1rem;
    top: .8rem;
    transform: rotate(90deg); }

@media screen and (max-width: 37.5em) {
  .db-sidebar {
    max-width: 5.5rem;
    transition: max-width .3s; }
    .db-sidebar-nav__link, .db-sidebar-subnav__link {
      padding-left: 1.5rem; }
      .db-sidebar-nav__link--svg, .db-sidebar-subnav__link--svg {
        min-width: 2.5rem; }
      .db-sidebar-nav__link--text, .db-sidebar-subnav__link--text {
        display: block;
        font-size: 1.5rem;
        padding-left: 1.8rem; }
  .db-sidebar-open {
    max-width: 25rem; }
  .submenu-show::before {
    font-size: 1.5rem;
    right: .5rem;
    top: 1.3rem; }
  .submenu-show--open::before {
    font-size: 1.5rem;
    right: .5rem;
    top: 1.3rem; } }

.form-post {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem; }
  .form-post__box {
    margin: 1rem; }
    .form-post__box--title {
      grid-column: 1 / -1; }
    .form-post__box > *:focus {
      outline: none; }
      .form-post__box > *:focus::placeholder {
        color: transparent; }
    .form-post__box > *::placeholder {
      color: #c7c7c7; }
  .form-post__title {
    background-color: var(--color-primary);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
    font-size: 1.3rem;
    padding: .5rem 1rem; }
  .form-post__input, .form-post__select {
    align-items: center;
    -webkit-appearance: none;
    background-color: transparent;
    border-radius: 0;
    display: flex;
    font-family: "Roboto", sans-serif;
    font-size: 1.3rem;
    height: 4rem;
    padding: 0 1rem;
    width: 100%; }
  .form-post__input {
    border-bottom: 1px solid var(--color-primary-dark);
    transition: border-bottom .3s; }
    .form-post__input:focus {
      border-bottom: 1px solid var(--color-primary-light); }
  .form-post__select {
    background-color: var(--color-grey-light-3);
    transition: background-color .3s, color .3s; }
    .form-post__select:hover {
      color: #fff;
      background-color: var(--color-primary-light); }
  .form-post__excerpt {
    border-bottom: 1px solid var(--color-primary-dark);
    border-radius: 0;
    grid-column: 1 / -1; }
    .form-post__excerpt:focus {
      border-bottom: 1px solid var(--color-primary-light); }
  .form-post__textarea {
    font-family: "Roboto", sans-serif;
    font-size: 1.3rem;
    padding: 1rem;
    width: 100%; }
  .form-post__editor {
    grid-column: 1 / -1; }
  .form-post__buttons {
    display: flex;
    grid-column: 2 / span 1;
    height: 4rem;
    justify-content: center;
    margin-top: 2rem; }
  .form-post__btn {
    background-color: var(--color-primary);
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin-right: 2rem;
    text-align: center;
    transition: background-color .3s;
    width: 10rem; }
    .form-post__btn:focus {
      outline: none; }
    .form-post__btn:hover {
      background-color: var(--color-primary-dark); }
  @media screen and (max-width: 56.25em) {
    .form-post {
      display: flex;
      flex-direction: column; } }

#editor {
  background-color: white; }

.list {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  font-size: 1.2rem;
  padding: 1.5rem;
  white-space: nowrap; }

.list-options {
  display: flex;
  margin-bottom: 1rem; }
  .list-options__select {
    -webkit-appearance: menulist;
    background-color: var(--color-primary);
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    display: block;
    height: 4rem;
    transition: background-color .3s; }
    .list-options__select:focus {
      outline: none; }
    .list-options__select:hover {
      background-color: var(--color-primary-dark); }
    .list-options__select:not(:last-child) {
      margin-right: .6rem; }
  @media screen and (max-width: 56.25em) {
    .list-options__select {
      border-radius: 5px;
      height: 3rem; } }

.list-header {
  display: flex; }
  .list-header__col-title-date, .list-header__col-title-article {
    background-color: var(--color-primary-dark);
    color: #fff;
    cursor: pointer;
    padding: .5rem 1rem .5rem 2.5rem;
    position: relative;
    transition: background-color .3s;
    width: 100%; }
    .list-header__col-title-date:hover, .list-header__col-title-article:hover {
      background-color: var(--color-primary); }
    .list-header__col-title-date::after, .list-header__col-title-date::before, .list-header__col-title-article::after, .list-header__col-title-article::before {
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      content: "";
      font-size: 2rem;
      position: absolute; }
    .list-header__col-title-date::after, .list-header__col-title-article::after {
      border-bottom: 6px solid #fff;
      height: 0;
      left: 1rem;
      top: .6rem;
      width: 0; }
    .list-header__col-title-date::before, .list-header__col-title-article::before {
      border-top: 6px solid #fff;
      height: 0;
      left: 1rem;
      top: 1.7rem;
      width: 0; }
    .list-header__col-title-date--asc::after, .list-header__col-title-article--asc::after {
      border-bottom: 6px solid var(--color-primary-light) !important; }
    .list-header__col-title-date--desc::before, .list-header__col-title-article--desc::before {
      border-top: 6px solid var(--color-primary-light) !important; }
  .list-header__col-title-date {
    max-width: 10rem;
    min-width: 10rem; }

.list-articles__item {
  align-items: center;
  border-bottom: 1px solid var(--color-grey-light-3);
  display: flex; }

.list-articles__date {
  min-width: 10rem;
  text-align: center; }

.list-articles__text {
  margin-right: auto;
  overflow: hidden;
  padding-left: 1rem; }

.list-articles__btn {
  background-color: var(--color-primary);
  border-radius: 3px;
  cursor: pointer;
  fill: #fff;
  height: 3rem;
  margin: .6rem 0 .6rem .6rem;
  padding: .6rem;
  transition: background-color .3s;
  max-width: 3rem;
  min-width: 3rem; }
  .list-articles__btn:hover {
    background-color: var(--color-primary-dark); }

.breadcumb {
  display: flex;
  list-style: none;
  margin-bottom: 3rem;
  flex-wrap: wrap; }
  .breadcumb__item {
    color: var(--color-primary-dark);
    position: relative; }
    .breadcumb__item a {
      color: unset;
      font-size: 1.1rem; }
    .breadcumb__item:last-child {
      color: var(--color-grey-dark-3); }
    .breadcumb__item:not(:last-child) {
      padding-right: 1rem;
      margin-right: .5rem; }
      .breadcumb__item:not(:last-child)::before {
        color: var(--color-grey-dark-3);
        content: "\203A";
        position: absolute;
        right: 0; }
  @media screen and (max-width: 56.25em) {
    .breadcumb {
      margin-bottom: 2rem; } }

.messagepop {
  animation: showpop 5s;
  align-items: center;
  background-color: transparent;
  border-bottom: 2px solid transparent;
  color: transparent;
  display: flex;
  font-size: 1.2rem;
  height: 4rem;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; }

@keyframes showpop {
  0% {
    background-color: transparent;
    border-bottom: 2px solid transparent;
    color: transparent;
    height: 0rem; }
  30% {
    background-color: var(--color-grey-dark-3);
    border-bottom: 2px solid var(--color-primary);
    color: var(--color-grey-light-3);
    height: 4rem; }
  60% {
    background-color: var(--color-grey-dark-3);
    border-bottom: 2px solid var(--color-primary);
    color: var(--color-grey-light-3);
    height: 4rem; }
  100% {
    background-color: transparent;
    border-bottom: 2px solid transparent;
    color: transparent;
    height: 0rem; } }

.curtain {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1; }
  .curtain--off {
    display: none; }
