:root {
    --color-primary: #eb2f64;
    --color-primary-light: #ff3366;
    --color-primary-dark: #ba265d;
    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f0f0f0;
    --color-grey-light-3: #e9e9e9;
    --color-grey-dark-1: #111;
    --color-grey-dark-2: #232323;
    --color-grey-dark-3: #444;
    --font-color-primary: #333;
    --font-color-secondary: #faf9f9;
    --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
    --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
    --line: 1px solid var(--color-grey-light-2);
}

// FONT VARIABLES
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Oswald');
$font-primary: 'Roboto',
sans-serif;
$font-secondary: 'Oswald',
sans-serif;
// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px
* {
    border: 0;
    font-size: 100%;
    margin: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: baseline;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    color: var(--color-grey-dark-1);
    font-family: $font-primary;
    font-weight: 400;
    line-height: 1.6;
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
    @media only screen and (max-width: 1100px) {
        font-size: 50%;
    }
}

body {
    font-size: 1.4rem;
    background-color: var(--color-grey-light-2);
    min-height: 100vh;
}